@font-face {
  font-family: 'HarryPotter';
  src: url(../public/HarryP.ttf);
}

* {
  box-sizing: border-box;
}

#calculator {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

#calc-display {
  background: rgba(3, 0, 0, 0.9);
  border: none;
  box-shadow: none;
  outline: none;
  padding: 40px;
  width: 100%;
  color: rgb(255, 238, 0);
  text-align: right;
  font-size: 40px;
  border-radius: 0;
  font-family: 'HarryPotter';
}

#calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(3, 0, 0, 0.9);
}

.calc-buttons {
  background: rgba(70, 9, 9, 0.5);
  border: 1px solid rgb(104, 63, 63);
  padding: 20px;
  color: rgb(247, 196, 196);
  margin: 10px;
  border-radius: 100px;
  font-size: 28px;
  cursor: pointer;
  font-family: 'HarryPotter';
}

.calc-buttons:nth-child(17) {
  grid-column: span 2;
}

.calc-buttons:nth-child(4),
.calc-buttons:nth-child(8),
.calc-buttons:nth-child(12),
.calc-buttons:nth-child(16),
.calc-buttons:nth-child(19) {
  background: rgb(156, 122, 28);
}

.calc-buttons:hover {
  background-color: rgb(238, 232, 144);
}
