* {
  box-sizing: border-box;
}

#calculator {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

#calc-display {
  background: rgba(0, 0, 0, 0.1);
}

#calc-display input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 40px;
  border-radius: 0;
}

#calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calc-buttons {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #111;
  padding: 20px;
  color: #eee;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}

.calc-buttons:nth-child(17) {
  grid-column: span 2;
}

.calc-buttons:nth-child(4),
.calc-buttons:nth-child(8),
.calc-buttons:nth-child(12),
.calc-buttons:nth-child(16),
.calc-buttons:nth-child(19) {
  background: coral;
}

.calc-buttons:hover {
  background-color: lightgreen;
}
